@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">Teste Conduzze</h2>
    <h2 class="display-4">Controle de Estrutura Funcional</h2>
    <h5 class="mb-5">Feito por <a href="https://simaorossy.github.io/cv/" target="_blank">Simão Rossy</a>.</h5>

</div>

